:root {
  --primary: #ED3237;
  --text: #303030;
}

* {
  color: var(--text);
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #F7F7F9;
}

.shadow-layer {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(207, 207, 207);
  z-index: 0;
}

.container {
  display: flex;
  height: 100%;
}

.nav-brand {
  width: 150px;
  /* max-width: 75%;
  height: auto; */
  margin: 0;
}

.bars~.mobile-nav {
  position: fixed;
  /* transform: scale(0); */
  transform: translateX(100%);
  transform-origin: 90% 7%;
  top: 0rem;
  padding: 1.6rem 1rem;
  border-radius: 10px;
  right: 0;
  width: 80%;
  min-height: 90vh;
  display: block;
  z-index: 98;
  background: rgba(238, 238, 238, 0.4);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(8.4px);
  transition: .3s;
}

.bars.bars-active~.mobile-nav {
  /* position: fixed; */
  /* transform: scale(1); */
  /* transform-origin: 100% 0;
  top: 0rem;
  padding: 1.6rem 1rem;
  border-radius: 10px;
  right: 0;
  width: 80%;
  min-height: 80vh;
  display: block;
  z-index: 98;
  background: rgba(247, 247, 249, .6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(8.4px); */
  transform: translateX(0);
  transition: .3s;
  box-shadow: -1px -1px 0px 200px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px -1px 0px 200px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px -1px 0px 200px rgba(0, 0, 0, 0.3);
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-right: .8rem;
}

.mobile-nav-search {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
}

.mobile-nav-search .search {
  height: 100%;
  display: grid;
  place-items: center;
}

.mobile-nav-search input {
  background-color: #fff;
  outline: none;
  border: none;
  padding: .1rem 0 .1rem .7rem;
  border-radius: 10px;
  width: 100%;
  order: 2;
}

.mobile-nav button {
  outline: none;
  border: none;
  background: none;
  float: right;
  cursor: pointer;

}

.mobile-nav button i {
  font-size: 24px;
}

.mobile-navbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .075) !important;
}

/* SIDEBAR */
.sidebar {
  position: sticky;
  top: 0;
  /* padding: 1rem 1.3rem; */
  background-color: #fff;
  width: 288px;
  height: 100vh;
  transition: all .4s ease;
  z-index: 10;
  /* white-space: nowrap; */
}

.sidebar .nav-brand {
  display: block;
  transition: 0;
}

.sidebar .nav-brand-closed {
  display: none;
}

.sidebar.close {
  text-align: center;
  /* padding: 1.3rem 1rem; */
  width: 103px;
}

.sidebar.close p {
  opacity: 0;
  /* scale: 0; */
  transition: .2s;
  transform-origin: 50% 0;
}

.sidebar.close .nav-brand {
  display: none;
}

.sidebar.close .nav-brand-closed {
  display: block;
  width: 26px;
}

.sidebar.close .toggle {
  right: 0;
  transform: translateX(50%) rotate(180deg);
}

.sidebar.close .sidebar-top {
  justify-content: center;
  height: 101px;
}

.sidebar.close .divider {
  opacity: 1;
}

.sidebar.close .sidebar-bottom p,
.sidebar.close .sidebar-bottom h3,
.sidebar.close .sidebar-bottom span {
  display: none;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}

.toggle {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  right: 0;
  transform: translateX(50%);
  background-color: var(--primary);
  display: grid;
  place-items: center;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.toggle i {
  color: #fff;
}

.toggle .bar {
  height: 2px;
  width: 25px;
  background-color: #979797;
}

/* .toggle .bar:nth-child(2) {
  margin: 8px 0;
} */

/* .sidebar-menu {
  margin-top: 2rem;
} */

/* .sidebar-menu .divider:nth-last-of-type(1) {
  margin-top: 2rem;
} */

.mobile-nav ul li,
.sidebar-menu ul li {
  list-style-type: none;
  margin: .8rem 0;
}

.mobile-nav ul li:first-child {
  margin-top: 2rem;
}

.mobile-nav ul li a,
.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 8px 0;
  transition: all .1s ease;
  text-decoration: none;
}

.sidebar .sidebar-menu ul li a i {
  width: 24px;
}

.sidebar.close .sidebar-menu ul li a i {
  width: inherit;
}

.mobile-nav ul li a:hover,
.sidebar-menu ul li a:hover {
  background-color: var(--primary);
  color: #fff;
}

.mobile-nav ul a:hover p, .mobile-nav ul a:hover i,
.sidebar-menu ul a:hover p, .sidebar-menu ul a:hover i {
  color: #fff;
}

.mobile-nav ul .active:hover p, .mobile-nav ul .active:hover i,
.sidebar-menu ul .active:hover p, .sidebar-menu ul .active:hover i {
  color: #fff;
}

.mobile-nav ul li i,
.sidebar-menu ul li i {
  margin: 0 1rem;
  font-size: 20px;
}

.mobile-nav p,
.sidebar-menu p {
  font-weight: 400;
  /* font-size: clamp(1.00rem, calc(0.91rem + 0.45vw), 1.25rem); */
}

.mobile-nav ul .active,
.sidebar-menu ul .active {
  background-color: var(--primary);
  /* margin: 1rem 0; */
  padding: 8px 0;
}

.active i, .active p {
  color: #fff !important;
}

.mobile-navbar .active i {
  color: var(--primary) !important;
}

.active p {
  font-weight: 700;
}

.divider {
  display: flex;
  align-items: center;
  height: 36px;
}

.divider h5 {
  color: #979797;
}

.sidebar-bottom {
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 1.3rem;
  background-color: #F0F0F0;
}

.sidebar-bottom h3 {
  color: var(--text);
}

.sidebar-bottom .admin {
  color: var(--text);
  font-weight: bold;
  font-size: 18px;
}

.sidebar-bottom .logout {
  background-color: #3F3D56;
  display: inline-block;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  margin-top: 1rem;
  padding: .3rem .8rem;
  border-radius: 7px;
}

.sidebar-bottom .logout:hover {
  background-color: #292736;
}

.sidebar-bottom span {
  color: #fff;
}

.sidebar-bottom i {
  color: #fff;
  margin-right: .5rem;
}

.logout-modal.modal-dialog {
  max-width: 90%;
}

.logout-modal .modal-footer button {
  width: 5rem;
}

/* SEARCH BAR */
form.search-bar {
  position: sticky;
  top: 0;
  padding: 1rem 0 1rem;
  background-color: #F7F7F9;
  /* background: rgba(247, 247, 249, 0.2); */
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(247, 247, 249, 0.3);
  z-index: 1;
  border: none;
}

#searchBar {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

#searchBar::-webkit-input-placeholder {
  font-size: 14px !important;
}

#searchBar:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px !important;
}

#searchBar::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px !important;
}

/* CONTENT */
.counter-postingan {
  display: grid;
  place-items: center;
  /* aspect-ratio: 1/1; */
  padding: .2rem .5rem;
}

.card-top .dropdown button {
  transition: none;
}

.card-top .dropdown button:hover {
  background-color: #f0f0f0;
}

.content {
  padding-bottom: 7rem;
}

.unread {
  background-color: #fff;
}

.read {
  background-color: #E7E7E7;
}

ul li .appear-icon {
  display: none;
}

ul li:hover .appear-icon {
  display: block;
}

ul li .balas-container #jawaban {
  border: none;
  border-bottom: 1px solid #c9c9c9;
  transform-origin: 0% 0%;
  transition: .5s;
  padding: 0;
  padding-bottom: .2rem;
}

ul li .balas-container textarea,
.lihatPost textarea {
  padding-top: 10px;
  padding-bottom: 25px;
  /* increased! */
  /* height:16px; */
  /* line-height:16px; */
  width: 100%;
  /* changed from 96 to 100% */
  display: block;
  /* margin:0px auto; not needed since i have width 100% now */
}

ul li .balas-container #jawaban:focus,
ul li .balas-container #jawaban:active {
  outline: none;
  box-shadow: none;
  border-color: var(--primary);
}

ul li .btnToggle {
  border: 1px solid var(--text);
  outline: none;
  box-shadow: none;
}

ul li .btnToggle:hover {
  border: 1px solid var(--text);
  outline: none;
  box-shadow: none;
  background-color: var(--text);
}

ul li .btnToggle:hover small {
  color: #fff;
}

ul li .buttonActive,
ul li .buttonActive:hover {
  border: 1px solid var(--text);
  outline: none;
  box-shadow: none;
  background-color: var(--text);
}

ul li .buttonActive small {
  color: #fff;
}


/* FOOTER */
footer {
  border-top: 3px solid var(--primary);
}

@media screen and (min-width:768px) {
  .logout-modal.modal-dialog {
    max-width: 30%;
  }

  .logout-modal .modal-footer button {
    width: 5rem;
  }
}