:root {
  --primary: #ED3237;
  --primary-darker: #ce2c31;
  --text: #303030;
}

* {
  color: var(--text);
  font-family: 'Nunito', sans-serif;
}

i {
  color: #606062;
}

.text-primary {
  color: var(--primary) !important;
}

.border-primary {
  border-color: var(--primary) !important;
}

.toast {
  background-color: #fff;
  /* background-color: #ff484e; */
}

.toast,
.toast-body,
.toast-container {
  width: fit-content !important;
}

/* FONT STYLE */
.fw-black {
  font-weight: 800 !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.lead {
  font-size: clamp(0.875rem, 0.7408rem + 0.5964vw, 1.25rem);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0px 0px 5px 0px var(--primary);
}

.btn-primary:focus,
.btn-primary:active
.btn-outline-primary:focus,
.btn-outline-primary:active{
  background-color: var(--primary) !important;
}

.btn-primary * {
  color: #fff;
}

.btn-outline-primary {
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  border: 1px solid var(--primary);
  color: #fff;
  background-color: var(--primary);
}

.btn-outline-primary,
.btn-outline-primary * {
  color: var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:hover * {
  color: #fff;
}

.btn-outline-secondary {
  border: 1px solid var(--text);
  color: var(--text);
}

.btn-outline-secondary:hover {
  border: 1px solid var(--text);
  color: #fff;
  background-color: var(--text);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:hover * {
  color: #fff;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  color: #fff;
  background-color: var(--text) !important;
}

.btn-outline-secondary:focus *,
.btn-outline-secondary:active * {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

/* NAVBAR */
.nav-link {
  font-weight: 500 !important;
}

.nav-link.active {
  font-weight: bold !important;
  background-color: #ED3237;
  color: #fff !important;
}

/* SECTION */
.section-title h2 {
  font-weight: 800;
}

.buat-post-modal.modal-dialog {
  max-width: 70%;
}

.buat-post-modal.modal-dialog .btn-close {
  right: 1.5rem;
}

.floating-icon {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
}

.modal-open .floating-icon {
  right: 49px;
}

.modal {
  transform: scale(0);
  opacity: 0;
  /* -webkit-transition: all .25s;
  -o-transition: all .25s; */
  transition: all .25s;
}

.modal.show {
  opacity: 1;
  transform: scale(1);
}

.modal#buatPost {
  transform-origin: 100% 100%;
}

.modal#lihatPost .close-modal {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 100;
}

.modal#lihatPost .col-img {
  max-height: 100%;
}

.modal#lihatPost .col-md-6 {
  max-height: 100%;
  /* overflow: hidden; */
}

.modal#lihatPost .col-md-6 .lihat-post-content {
  overflow-y: scroll;
}

.modal#lihatPost .col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal#lihatPost button {
  width: 100%;
  max-width: 10rem;
}

/* CARDS */
.carousel-button,
.carousel-button:focus,
.carousel-button:active {
  outline: none;
  border: none;
}

.carousel-button i {
  cursor: pointer;
  color: var(--primary);
}

.carousel-button i:hover {
  color: var(--primary-darker);
}

.line {
  width: 100px;
  height: 2px;
  background-color: var(--primary);
}

.filter .dropdown-menu {
  min-width: inherit;
  width: 100%;
}

.card {
  border: 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  /* cursor: pointer; */
}


.card .card-top small {
  /* word-wrap: none; */
  white-space: nowrap;
}

.card .card-top p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card .card-img {
  position: relative;
  cursor: pointer;
}

.card .card-img img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}

.card .card-content:hover .card-img img {
  filter: brightness(.3);
}

.card .card-content .card-img .card-img-floating {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .card-content:hover .card-img .card-img-floating {
  display: block;
}

.card .card-img .card-img-floating button:hover {
  background-color: transparent;
  color: #fff;
}

.card .card-body h5,
.card .card-body p,
.card .card-body small {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* FOOTER */
.footer-all {
  margin-top: 4rem;
}

.footer-all .footer-img {
  background-color: #fff;
}

.footer-tentang .footer-img {
  background-color: #f5f5f5;
}

footer {
  background-color: #303030;
}

footer .accordion-item {
  background-color: #292929;
}

footer .accordion-item:focus,
footer .accordion-header:focus {
  outline: none !important;
}

footer .accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, .125);
}

footer .accordion-button:not(.collapsed) {
  box-shadow: none;
}

footer .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

footer .accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

footer .footer-sosmed i {
  color: #f8f9fa;
}

footer .footer-sosmed i:hover {
  color: var(--primary);
}

footer .hr-line {
  background-color: #292929;
  width: 100%;
  height: 2px;
}

/* MEDIUM (MD) */
@media only screen and (min-width: 768px) {
  .card .card-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
}